body {
  margin: 0;
  padding: 0;
  background-color: #e6ecf0;
}

/* Navbar */

.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar li a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  color: #eee;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}
.container-fluid {
  max-width: 1500px;
}
.onboarding > .navbar {
  background-image: linear-gradient(90deg, rgb(50, 200, 70), rgb(50, 70, 200));
}

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-shadow: 0 0 10px #66767f;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: linear-gradient(30deg, rgb(50, 200, 70), rgb(50, 70, 200));
}

.bird-image {
  background-image: url("./images/parrot-png-2.png");
  width: 70vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
  box-shadow: 0px 0px 10px rgb(50, 200, 70), 0px 0px 10px rgb(50, 70, 200);
  border-radius: 20px;
  opacity: 0.9;
}
